.headerNav {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.headerNav div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.headerNav a, button {
  background-color: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .1s;
  cursor: pointer;
}

.headerNav a:hover, button:hover,
.headerNav a:focus, button:focus {
  background-color: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.headerNav a:global(.active) {
  background-color: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}

.mobileButton {
  background-color: #eee;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .1s;
  cursor: pointer;
}

.mobileButton::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  background-color: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
}

.mobileButton:focus,
.mobileButton:hover {
  outline: none;
  background-color: white;
  box-shadow:  0 0 0 3px #fea;
  border-color: #fb1;
  color: #fb1;
}

.mobileButtonActive {
  transition: 0.3s;
  outline: none;
  background-color: white;
}

.mobileButtonActive::after {
  transition: .3s;
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

.navMobile {
  display: block;
  position: absolute;
  top: 70px;
  right: 0px;
  padding: .5rem 1rem;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0 , 0 );
  border-radius: .2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}

.navMobile div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navMobileActive {
  transition: 0.3s;
  transform: initial;
  opacity: 1;
  z-index: 100;
  pointer-events: initial;
}

.navMobile a,
.navMobile button {
  display: flex;
  align-items: center;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: .5rem 0;
  cursor: pointer;
}

.navMobile a:hover  ,
.navMobile button:hover {
  color: #fb1;
}

.navMobile button {
  border-bottom: none;
}